<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySavingQuest">
        <activity
            android:name=".component.user.login.ui.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MySavingQuest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mysavingquest" />
                <data android:host="verify" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.user.register.ui.RegisterActivity"
            android:exported="false"
            android:label="Register" />
        <activity
            android:name=".component.setup.recurringbills.ui.RecurringBillsActivity"
            android:exported="false"
            android:label="Recurring Bills" />
        <activity
            android:name=".component.setup.accountbalance.ui.AccountBalanceActivity"
            android:exported="false"
            android:label="Recurring Bills" />
        <activity
            android:name=".component.setup.notification.NotificationSettingsActivity"
            android:exported="false"
            android:label="Notification Settings" />
        <activity
            android:name=".component.navpages.drawer.MainDrawerActivity"
            android:exported="true"
            android:label="Main Drawer" />
    </application>

</manifest>